/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header.page_head {
    background-color: #55209F;
    color: #fff;
    padding: 10px 0;
}

header .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    font-size: larger;
}

header .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header .navbar ul li {
    margin-right: 20px;
}

header .navbar ul li a {
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    transition: background 0.3s;
}

header .navbar ul li a:hover {
    background-color: #575757;
}

main.profile {
    max-width: 800px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.profile-picture {
    flex: 1;
    text-align: center;
}

.profile-picture img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.detail {
    flex: 2;
    margin-left: 20px;
}

.detail form {
    display: flex;
    flex-direction: column;
}

.detail .form-label {
    margin-top: 10px;
    font-weight: bold;
}

.detail input {
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 95%;
}

button[type="submit"] {
    padding: 10px 15px;
    color: chocolate;
    background-color: activeborder;
    border: #007bff;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
    
}

button[type="submit"]:hover {
    background-color: skyblue;
}

footer#contact {
    text-align: center;
    padding: 20px;
    background-color: #55209F;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}
